{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header bg-secondary text-light">About me</h5>
    <div class="card-body bg-dark text-light">
        <p class="card-text"> Helloo... sagar here.. i am Django Developer and this blog is created using Django/Boostrap if .....</p>
        <a href="https://www.linkedin.com/in/sagargohil564/"
           class="btn btn-success">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}